.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 40px 100px;
    padding-bottom: 80px;
}
.timer h2 {
    font-size: 160px;
    font-weight: 700;
}
.holding-unready-timer h2 {
    color: red;
}
.holding-ready-timer h2 {
    color: green;
}
.timing-timer {
    background: linear-gradient(120deg, #25579c, #002145);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
