
.cube-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.cube-selector button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.cube-selector button:hover {
    background-color: #e0e0e0;
}
.cube-selector button.selected {
    background-color: #25579c;
}