.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}
.member h2 {
    font-size: 40px;
}
.member h3 {
  font-size: 20px;
}
.member-faculty {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.member-loaded {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.result-event {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.member table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Optional soft shadow */
}
.member th,
td {
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  text-align: left;
  padding: 6px 10px;
}
.member tbody tr:nth-child(even) {
  background-color: #edeff1; /* Light gray or soft background */
}

.member tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White for contrast */
}
