.dashboard {
    display: flex;
    flex-direction: column;
}

.dahsboard-signed-in {
    align-items: center;
}

.dashboard-signed-in h2 {
    font-size: 16px;
    text-decoration: none;
}

.dashboard-signed-in button {
    width: 100%;
}