.navbar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 97%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* X, Y, Blur, Transparency */
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navlinks li {
  display: flex;
  flex-direction: column;
}

.navlinks a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.navlinks img {
  height: 20px;
  width: auto;
}
.navlinks a:hover {
  transform: scale(1.05);
}
.navbar ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}
