.meeting {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 80px;
  margin: 30px auto;
  align-items: center;
  width: 100%;
}
.meeting-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.meeting-info h2 {
  font-size: 40px;
}
.meeting-info h3 {
  font-size: 20px;
}
.meeting-back {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  font-size: 16px;
  gap: 8px;
}

.event-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.meeting-events-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}
.meeting-events-list h3 {
  font-size: 24px;
}
.meeting-events-list > li {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.meeting-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.regular-event-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.regular-event-results h4 {
  font-size: 26px;
}

.event-results-list h5 {
  font-size: 22px;
}
.event-results-list {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.round-results-list > li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
  min-width: 180px;
  border-radius: 15px;
  background-color: #f0f0f0; /* Light background for contrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.round-results-list > li:hover {
  background-color: #c7eff2;
  transform: scale(1.02);
  transition: background-color 0.2s, transform 0.2s;
}
.round-submissions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.round-results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style: none; /* optional: remove default bullets */
  padding: 0;
  margin: 0;
  width: 100%;
}
.round-results-list table {
  width: 100%;
  border-collapse: collapse;
}
.round-results-list li {
  margin-bottom: 5px; /* adjust this to reduce spacing */
}

.round-member-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.round-member-results h6 {
  font-size: 18px;
  font-weight: bold;
}

.round-submissions button {
  width: 100px;
  height: auto;
  background-color: #25579c;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}
.round-submissions button:hover {
  background-color: #002145;
}
.round-submissions button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
