.membership-requests {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.membership-requests-action-panel {
  display: flex;
  gap: 20px;
  width: 100%;
}

.membership-requests-user-id-panel {
  width: 200px;
  word-wrap: break-word;
}
