.aboutus {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-intro {
  position: relative;
  text-align: center;
}

.club-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
}
.about-intro-overlay {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  padding: 20px;
  border-radius: 12px;
}
.about-intro-overlay h2 {
  font-size: 70px;
  color: white;
  font-style: italic;
  font-weight: 800;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.section {
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section h2 {
  text-align: center;
  color: black;
  font-size: 36px;
  font-weight: 700;
}

/* .mission {
  margin-bottom: 20px;
}

.mission-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */

.mission-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1200px; 
}

.mission-image {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.mission-text {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 850px) {
  .mission-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mission-text {
    text-align: left; /* or center if preferred */
    width: 90%;
  }

  .about-intro-overlay h2 {
  font-size: 50px;
}
}


.mission-img div {
  margin-left: 10px;
  text-align: justify;
}

.mission-text ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.mission-text li {
  font-size: 17px;
  font-weight: 100px;
  color: #555;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mission-text p {
  line-height: 1.8;
  margin-bottom: 10px;
  font-size: 17px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.team-member {
  text-align: center;
  max-width: clamp(200px, 25%, 250px);
  margin: 20px;
  padding: 10px;
}

.member-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.member-image:hover {
  transform: scale(1.05);
}

.team-member h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
}

.team-member .role {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
  color: #555;
}

.team-member p {
  text-align: justify;
  font-size: 0.85rem;
  color: #666;
  line-height: 1.4;
  margin: 0 auto;
}
