@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding-top: 0px;
  height: 100vh;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background: #f8f9fa;
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #007086;
  background: #f9fafb;
}

textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #007086;
  background: #f9fafb;
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #0055a4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  box-sizing: border-box;
}

button:hover {
  background-color: #00274d;
}

.table-wrapper {
  width: 100%;
}
.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
  width: 100%;
}
.table-wrapper table {
  min-width: 800px; /* or whatever your minimum size should be */
  border-collapse: collapse;
}
.table-wrapper {
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  scrollbar-width: thin; /* for Firefox */
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}

.gold {
  background: linear-gradient(90deg, #fff3b0, #FFD700, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 1px 1px 8px rgba(255, 215, 0, 0.8);
}

.silver {
  background: linear-gradient(90deg, #eeeeee, #C0C0C0, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(200, 200, 200, 0.7);
}

.bronze {
  background: linear-gradient(90deg, #f4c193, #cd7f32, #a0522d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(205, 127, 50, 0.6);
}

.other-rank {
  color: #7a7a7a;
  opacity: 0.65;
  font-weight: normal;
}