.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 80px;
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
}
.members h2 {
  font-size: 40px;
}
.members-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.members table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.members th,
td {
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  text-align: left;
  padding: 12px 16px;
}
.members tbody tr:nth-child(even) {
  background-color: #edeff1; /* Light gray or soft background */
}

.members tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White for contrast */
}
.non-member a {
  color: #66a5fd;
  text-decoration: none;
}
.member-member a {
  color: #ffd700;
  text-decoration: none;
}
.member-president a {
  background: linear-gradient(90deg, #f6d365, #fda085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
.member-treasurer a {
  background: linear-gradient(to right, #ff416c, #ff4b2b, #ff6a00, #8e2de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
.member-admin a {
  background: linear-gradient(to right, #a603ac, #2a5298, #4facfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
