.meeting-id-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
}
.meeting-id-edit button:hover {
  background-color: #002145;
}
.meeting-id-edit button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}